{% extends "base.html" %}

{% block content %}

		  </header><!-- #header -->
			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								About Us							</h1>	
							<p class="text-white link-nav"><a href="#">Shruthi </a> <a href="#">,Srishti </a>  <a href="#"> , Sachita</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->					  
			
			<!-- Start post-content Area -->
			<section class="post-content-area single-post-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 posts-list">
							<div class="single-post row">
								<div class="col-lg-12">
									<div class="feature-img">
										<img class="img-fluid" src="static/img/blog/feature-img1.jpg" alt="">
									</div>									
								
								<div class="col-lg-9 col-md-9">
									
											 <h3> TeachUs is a community by teachers, for teachers. </h3>
											<p>We aim to connect teachers across India to come forth and teach each other how to shift to the online mode of education. The onset of the COVID-19 pandemic has forced both students and teachers alike to rely on online resources to learn and teach. </p> </li>
											<p>For many teachers, this shift has been far from pleasant.</p>
									<p>We offer many courses and resources to make your journey in online teaching as smooth as possible. We have created a community for teachers where you can share your thoughts and views regarding anything and everything - be it the latest tool to conduct pop quizzes, or the best tool to conduct meetings virtually.
									</p>
									<p>TeachUs aims to teach those who have spent years teaching us :)</p>
									<ol>
										<h5>Our Team</h5>
										<li>Shruthi Rao</li>
										<li>Srishti Negi</li>
										<li>Sachita Malhotra</li>

									</ol>
									<br>
									<p>We are sophomores from Indira Gandhi Delhi Technical University for Women. Driven by a desire to help our teachers adjust to this new normal, we decided to build TeachUs - an app to teach those who have spent years teaching us!</p>
								<br>
								</div>
								
									<div class="row mt-30 mb-30">
										<div class="col-6">
											<img class="img-fluid" src="static/img/blog/post-img1.jpg" alt="">
										</div>
										<div class="col-6">
											<img class="img-fluid" src="static/img/blog/post-img2.jpg" alt="">
										</div>	
														
									</div>
								</div>
							</div>
							
							
						
			<!-- End post-content Area -->
			
			<!-- start footer Area -->		
	
			{% endblock %}		
