{% extends "base.html" %}

{% block content %}
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>	
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-between">
            <div class="banner-content col-lg-9 col-md-12">
                <center>  
					<div id="wrapper">
						<br><br><br><br>
						<iframe
				allow="microphone;"
				width="600"
				height="450"
				src="https://console.dialogflow.com/api-client/demo/embedded/1fb5b885-25a8-4dbb-9993-388ab0000c0b">
			</iframe>
				  
				  
					</div>
  				</center>
            </div>	
            									
        </div>
    </div>					
</section>
<!-------------------------------------------------->
		
{% endblock %}