{% extends "base.html" %}

{% block content %}

		  </header><!-- #header -->
			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								10 Things To Know Before Your First Online Class							</h1>	
							<p class="text-white link-nav"><a href="#">Shruthi </a> <a href="#">, 09 Aug 2020 </a>  <a href="#"> , New Delhi</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->					  
			
			<!-- Start post-content Area -->
			<section class="post-content-area single-post-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 posts-list">
							<div class="single-post row">
								<div class="col-lg-12">
									<div class="feature-img">
										<img class="img-fluid" src="static/img/blog/p1.jpg" alt="">
									</div>									
								</div>
								<div class="col-lg-3  col-md-3 meta-details">
									<ul class="tags">
										<li><a href="#">Online classes,</a></li>
										<li><a href="#">Technology,</a></li>
										<li><a href="#">Teaching,</a></li>
										<li><a href="#">Beginner</a></li>
									</ul>
									<div class="user-details row">
										<p class="user-name col-lg-12 col-md-12 col-6"><a href="#">Shruthi</a> <span class="lnr lnr-user"></span></p>
										<p class="date col-lg-12 col-md-12 col-6"><a href="#">09 Aug, 2020</a> <span class="lnr lnr-calendar-full"></span></p>
										<p class="view col-lg-12 col-md-12 col-6"><a href="#">Pinned</a> <span class="lnr lnr-eye"></span></p>
										<p class="comments col-lg-12 col-md-12 col-6"><a href="#">New Delhi</a> <span class="lnr lnr-bubble"></span></p>
										<ul class="social-links col-lg-12 col-md-12 col-6">
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-github"></i></a></li>
											<li><a href="#"><i class="fa fa-behance"></i></a></li>
										</ul>																				
									</div>
								</div>
								<div class="col-lg-9 col-md-9">
									<ol>
											<li> <h3> What time is it starting? </h3>
											<p> Be sure to have all the meeting details ready well before the class, including the time. You must start the meeting as the host, and to avoid any last minute network issues that may cause tardiness, be punctual! </p> </li>
											<li> <h3> Check your internet connection! </h3>
											<p> Make sure your internet connection is in order and have a backup ready just in case there's a network issue with one connection. Yes, there may always be unforeseen problems but it never hurts to be prepared :) </p> </li>
											<li> <h3> Where is the link? </h3>
											<p> Send your students the link to the meeting well before the class to avoid last minute confusion. Try to have one recurring meeting link for one class to make life easy for yourself! </p> </li>
											<li> <h3> Am I audible? </h3>
											<p> Before starting off the class, check your audio and make sure the students can hear you clearly. Seems like an obvious point, but overlooked by more teachers than you might think! </p> </li>
											<li> <h3> Can you see me? </h3>
											<p> If you choose to turn on your camera, do check the camera placement and video angle. Make sure you look professional, just as you would in a traditional classroom setting! </p> </li>
											<li> <h3> Where are my notes? </h3>
											<p> Have your notes, presentations and videos ready to be shared before the class begins. You may choose to share your screen to teach, make sure you have all the material to be shared open and ready to be shared! </p> </li>
											<li> <h3> Keep silent! Turn off the music! </h3>
											<p> Establish the ground rules for the meeting as soon as it starts. Make it clear to the students when they are supposed to stay silent and when they must interact. This will save a lot of trouble that you may face. </p> </li>		
											<li> <h3> Please unmute! Class! </h3>
											<p> You might face a passive class in an online setting. Make sure to provide incentives to promote interaction in the class. From a simple star or heart emoji for juniors to internal assessment marks for seniors, incentives can go a long way!  </p> </li>
											<li> <h3> Can you hear me? </h3>
											<p> Another variant of "Am I audible?", this one all comes down to owning a good headset. Try to invest in a good microphone and speakers, now that the mode of education would be primarily online. </p> </li>
											<li> <h3> Know your platform! </h3>
											<p> The most important mantra to keep in mind! Be it Zoom, Google Meet or Microsoft Teams, you must know the platform. Be sure of what button to press to share your screen, how to mute participants and other basic controls. This would go a long way in making your first online class a major success! </p> </li>
											
									</ol>
					
							</div>
							
							
						
			<!-- End post-content Area -->
			
			<!-- start footer Area -->		
	
			{% endblock %}		
