{% extends "base.html" %}

{% block content %}
		  <header id="header" id="home">
	  		<div class="header-top">
	  			<div class="container">
			  		<div class="row">
			  			<div class="col-lg-6 col-sm-6 col-8 header-top-left no-padding">
			  				<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-telegram"></i></a></li>
								
			  				</ul>			
			  			</div>
			  			
			  		</div>			  					
	  			</div>
			</div>
		    <div class="container main-menu">
		    	<div class="row align-items-center justify-content-between d-flex">
			      <div id="logo">
					  
							<h1>
								<b>TeachUs</b>	
							</h1>
			       
			      </div>
			      <nav id="nav-menu-container">
			        <ul class="nav-menu">
			          <li><a href="index.html">Home</a></li>
			          <li><a href="about.html">About</a></li>
			          <li><a href="courses.html">Courses</a></li>
			          
			          
			          <li class="menu-has-children"><a href="">Blog</a>
			            <ul>
			              <li><a href="blog-home.html">Blog Home</a></li>
			              <li><a href="blog-single.html">Blog Single</a></li>
			            </ul>
			          </li>	
			          <li class="menu-has-children"><a href="">Pages</a>
			            <ul>
		              		<li><a href="course-details.html">Course Details</a></li>		
		              			
			                
					          				                		
			            </ul>
			          </li>					          					          		          
			          
			        </ul>
			      </nav><!-- #nav-menu-container -->		    		
		    	</div>
		    </div>
		  </header><!-- #header -->
			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Blog Details Page				
							</h1>	
							<p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span><a href="blog-home.html">Blog </a> <span class="lnr lnr-arrow-right"></span> <a href="blog-single.html"> Blog Details Page</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->					  
			
			<!-- Start post-content Area -->
			<section class="post-content-area single-post-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 posts-list">
							<div class="single-post row">
								<div class="col-lg-12">
									<div class="feature-img">
										<img class="img-fluid" src="static/img/blog/feature-img1.jpg" alt="">
									</div>									
								</div>
								<div class="col-lg-3  col-md-3 meta-details">
									<ul class="tags">
										<li><a href="#">Food,</a></li>
										<li><a href="#">Technology,</a></li>
										<li><a href="#">Politics,</a></li>
										<li><a href="#">Lifestyle</a></li>
									</ul>
									<div class="user-details row">
										<p class="user-name col-lg-12 col-md-12 col-6"><a href="#">Mark wiens</a> <span class="lnr lnr-user"></span></p>
										<p class="date col-lg-12 col-md-12 col-6"><a href="#">12 Dec, 2017</a> <span class="lnr lnr-calendar-full"></span></p>
										<p class="view col-lg-12 col-md-12 col-6"><a href="#">1.2M Views</a> <span class="lnr lnr-eye"></span></p>
										<p class="comments col-lg-12 col-md-12 col-6"><a href="#">06 Comments</a> <span class="lnr lnr-bubble"></span></p>
										<ul class="social-links col-lg-12 col-md-12 col-6">
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-github"></i></a></li>
											<li><a href="#"><i class="fa fa-behance"></i></a></li>
										</ul>																				
									</div>
								</div>
								<div class="col-lg-9 col-md-9">
									<h3 class="mt-20 mb-20">HOW TO DEAL WITH MISBEHAVIOUR IN ONLINE CLASSES</h3>
									<p class="excert">
										The Pandemic has drastically changed the classroom experience of both the teachers and the students. Technology is indeed a boon in times like these, the very fact that despite the pandemic a lot of people have managed to adapt to online classrooms seamlessly however fact remains that this shift has not been easy. A lot of people lack the resources to access these online platforms, even if they manage to access these resources, it becomes a major challenge for them to actually use these resources. From unstable internet classrooms to unruly children, these online classes are indeed wrought with difficulties.									</p>
									<p>
										Have you ever faced a situation where that one troublemaker in class keeps playing loud music in class or a couple of strange names keep popping up in your meeting and spam the chat with utter nonsense? Fear not, for you are not alone! This unruly behaviour is a major source of disturbance for most teachers and students, we all have experienced it at some point of time. 									</p>
									<p>
										So we have come up with a list of useful features in various platforms that allow you to keep such behaviour at bay.									</p>
										<hr><h3>Zoom</h3><hr>
										<ol type='a'>
											<li><h5>Prevent unknowns from entering the meeting</h5>Click on enable waiting room under advanced options while scheduling the meeting.
											</li>
											<li><h5>Prevent participants from renaming themselves</h5>
												Unselect the ‘Allow Participants to Unmute Themselves’ options under the more option in the zoom meeting, this will prevent all those strange cartoon characters and questionable personalities from popping up in the classroom. 
												</li>
												<li><h5>Remove participant from meeting</h5>
													Have you ever had that one unruly kid who refuses to listen to you and continues to misbehave in the class, well worry not you can simply remove the participant? Go to the participant list click on the participant and then on remove. The participant will be effectively removed from the meeting.
													</li>
										</ol>
										<hr><h3>Google Meet</h3><hr>
										<ol type='a'>
											<li><h5>Regulate attendees</h5>Regulate entry in the meeting by manually adding list of students to the meeting.</li>
											<li><h5>Remove distractions and background noises</h5>Click on the 3-dot icon at the bottom right, select ‘Settings’, and click on the ‘Noise cancellation’ toggle. This filters out any noise that isn’t that of a person talking. This feature can come in handy for removing unruly noises and disturbances in the classroom.</li>
											<li><h5>Mute attendees</h5>Mute students in the meeting by going to the ‘People’ tab at the top right corner of your Google Meet screen, clicking on the down-arrow adjacent to a student’s name, and hitting the microphone button to mute their microphone</li>
										</ol>
								</div>
								
									<div class="row mt-30 mb-30">
										<div class="col-6">
											<img class="img-fluid" src="static/img/blog/post-img1.jpg" alt="">
										</div>
										<div class="col-6">
											<img class="img-fluid" src="static/img/blog/post-img2.jpg" alt="">
										</div>	
														
									</div>
								</div>
							</div>
							
							
						
			<!-- End post-content Area -->
			
			<!-- start footer Area -->		
			{% endblock %}		