{% extends "base.html" %}

{% block content %}

<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>	
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-between">
            <div class="banner-content col-lg-9 col-md-12">
                <center>  
                <h1 class="text-uppercase">
                   Sign In		
                </h1>

            
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
    {{ form.username.label }} <br>
    {{ form.username(size=32) }} <br>
    {% for error in form.username.errors %}
    <span style="color: #ff0000;"> [{{error}}] </span>
    {% endfor %}
    </p>
    <p>
    {{ form.password.label }} <br>
    {{ form.password(size=32) }} <br>
    {% for error in form.password.errors %}
    <span style="color: #ff0000;"> [{{error}}] </span>
    {% endfor %}
    </p>
    <p> 
    {{ form.remember_me() }}
    {{ form.remember_me.label }}
    </p>
    <p> 
    {{ form.submit() }}
    </p>
</form>
<p> New user? <a href="{{url_for('register')}}">Sign Up</a> </p>
</center>  
            </div>	
            									
        </div>
    </div>					
</section>

<!--------------------------------------------------------------------------------------------------------------->

{% endblock %}

