{% extends "base.html" %}

{% block content %}
<section class="banner-area relative blog-home-banner" id="home">	
    <div class="overlay overlay-bg"></div>
    <div class="container">				
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content blog-header-content col-lg-12">
                <h1 class="text-white">
                    Welcome to community of teachers and online educator experts			
                </h1>	
                <p class="text-white">
                    Let's learn together
                </p>
                <a href="blog-single.html" class="primary-btn">View More</a>
            </div>	
        </div>
    </div>
</section>
-->				  

<!-- End top-category-widget Area -->

<!-- Start post-content Area -->
<section class="post-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post row">
                    <div class="col-lg-3  col-md-3 meta-details">
                        <ul class="tags">
                            <li><a href="#">Online classes,</a></li>
                            <li><a href="#">Technology,</a></li>
                            <li><a href="#">Teaching,</a></li>
                            <li><a href="#">Beginner</a></li>
                        </ul>
                        <div class="user-details row">
                            <p class="user-name col-lg-12 col-md-12 col-6"><a href="#">Shruthi</a> <span class="lnr lnr-user"></span></p>
                            <p class="date col-lg-12 col-md-12 col-6"><a href="#">09 Aug, 2020</a> <span class="lnr lnr-calendar-full"></span></p>
                            <p class="view col-lg-12 col-md-12 col-6"><a href="#">Pinned</a> <span class="lnr lnr-eye"></span></p>
                            <p class="comments col-lg-12 col-md-12 col-6"><a href="#">New Delhi</a> <span class="lnr lnr-bubble"></span></p>						
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 ">
                        <div class="feature-img">
                            <img class="img-fluid" src="static/img/blog/p1.jpg" alt="">
                        </div>
                        <a class="posts-title" href="{{url_for('resources1')}}"><h3>10 Thing to know before your first online class</h3></a>
                        <p class="excert">
Some important points to keep in mind to get you started with your first zoom class.                        </p>
                        <a href="{{url_for('resources1')}}" class="primary-btn">View More</a>
                    </div>
                </div>
                <div class="single-post row">
                    <div class="col-lg-3  col-md-3 meta-details">
                        <ul class="tags">
                            <li><a href="#">Zoom,</a></li>
                            <li><a href="#">Google meet,</a></li>
                            <li><a href="#">Technology,</a></li>
                            <li><a href="#">Online classes</a></li>
                        </ul>
                        <div class="user-details row">
                            <p class="user-name col-lg-12 col-md-12 col-6"><a href="#">Srishti</a> <span class="lnr lnr-user"></span></p>
                            <p class="date col-lg-12 col-md-12 col-6"><a href="#">09 Aug, 2020</a> <span class="lnr lnr-calendar-full"></span></p>
                            <p class="view col-lg-12 col-md-12 col-6"><a href="#">Pinned</a> <span class="lnr lnr-eye"></span></p>
                            <p class="comments col-lg-12 col-md-12 col-6"><a href="#">New Delhi</a> <span class="lnr lnr-bubble"></span></p>						
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 ">
                        <div class="feature-img">
                            <img class="img-fluid" src="static/img/blog/p2.jpg" alt="">
                        </div>
                        <a class="posts-title" href="{{url_for('resources2')}}"><h3>How to deal with unruly students in online classes</h3></a>
                        <p class="excert">
                            The Pandemic has drastically changed the classroom experience of both the teachers and the students. Technology is indeed a boon in times like these, the very fact that despite the pandemic a lot of people have managed to adapt to online classrooms seamlessly however fact remains that this shift has not been easy. A lot of people lack the resources to access these online platforms, even if they manage to access these resources, it becomes a major challenge for them to actually use these resources. From unstable internet classrooms to unruly children, these online classes are indeed wrought with difficulties.                        </p>
                        <a href="{{url_for('resources2')}}" class="primary-btn">View More</a>
                    </div>
                </div>
                
                <div class="single-post row">
                    <div class="col-lg-3 col-md-3 meta-details">
                        <ul class="tags">
                            <li><a href="#">Zoom,</a></li>
                            <li><a href="#">webex,</a></li>
                            <li><a href="#">Microsoft teams,</a></li>
                            <li><a href="#">Google Classroom</a></li>
                            <li><a href="#">GoTo meetings,</a></li>
                            <li><a href="#">Blue Jeans,</a></li>

                        </ul>
                        <div class="user-details row">
                            <p class="user-name col-lg-12 col-md-12 col-6"><a href="#">Sachita</a> <span class="lnr lnr-user"></span></p>
                            <p class="date col-lg-12 col-md-12 col-6"><a href="#">09 Aug, 2020</a> <span class="lnr lnr-calendar-full"></span></p>
                            <p class="view col-lg-12 col-md-12 col-6"><a href="#">pinned</a> <span class="lnr lnr-eye"></span></p>
                            <p class="comments col-lg-12 col-md-12 col-6"><a href="#">New Delhi</a> <span class="lnr lnr-bubble"></span></p>						
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="feature-img">
                            <img class="img-fluid" src="static/img/blog/p3.png" alt="">
                        </div>
                        <a class="posts-title" href="{{url_for('resources3')}}"><h3>	Comparative analysis of popular online meeting platforms	</h3></a>
                        <p class="excert">
We make the task of selecting the correct online platform easy for you by compliting a list of features that set each of these platforms apart.                        </p>
                        <a href="{{url_for('resources3')}}" class="primary-btn">View More</a>
                    </div>
                </div>														
                <nav class="blog-pagination justify-content-center d-flex">
                    <ul class="pagination">
                        <li class="page-item">
                            <a href="#" class="page-link" aria-label="Previous">
                                <span aria-hidden="true">
                                    <span class="lnr lnr-chevron-left"></span>
                                </span>
                            </a>
                        </li>
                        <li class="page-item active"><a href="#" class="page-link">01</a></li>
                        <li class="page-item"><a href="#" class="page-link">02</a></li>
                
                        <li class="page-item">
                            <a href="#" class="page-link" aria-label="Next">
                                <span aria-hidden="true">
                                    <span class="lnr lnr-chevron-right"></span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-4 sidebar-widgets">
                <div class="widget-wrap">
                    
                    <div class="single-sidebar-widget user-info-widget">
                        <img src="static/img/blog/user-info.png" alt="">
                        <a href="#"><h4>SSS</h4></a>
                        <p>
                           Sachita, Srishti, Shruthi - content writers
                        </p>
                        <ul class="social-links">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-github"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                        <p>
                            Our team carefully curates all the information about online classes that you might need in a one stop location. These are tough times and we know it is not easy to adapt suddenly to an online teaching format, but don't worry you are not alone.
                        </p>
                    </div>
	
                    <div class="single-sidebar-widget newsletter-widget">
                        <h4 class="newsletter-title">Newsletter</h4>
                        <p>
                            Here, I focus on a range of items and features that we use in life without
                            giving them a second thought.
                        </p>
                        <div class="form-group d-flex flex-row">
                           <div class="col-autos">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i>
                                </div>
                                </div>
                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'" >
                              </div>
                            </div>
                            <a href="#" class="bbtns">Subcribe</a>
                        </div>	
                        <p class="text-bottom">
                            You can unsubscribe at any time
                        </p>								
                    </div>
                    						
                </div>
            </div>
        </div>
    </div>	
</section>
{% endblock %}